.container.col-md-4.col-sm-12.col-xs-12 {
	text-align: center;
	background-color: #fff;
	padding: 5%;
	position: fixed;
	top: 25%;
	left: 33%;
	border-radius: 15%;
}

.form-control {
	border: 1px solid blue;
	border-radius: 8px;

}
input::placeholder {
	color: green;
	text-align: center;
}

h2 {
	font-size: 40px;
	color: lightblue;
}

.btn.btn-primary {
	background-color: orange;
	cursor: pointer;
}