<div class="wrapper">
	<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
	  <a class="navbar-brand">Nubewell Networks</a>
	  <h1 class="panel">Admin Panel</h1>
	  <a class="setting"><i class="fa fa-cog fa-2x"></i></a>
	</nav>
	<div class="sidenav">
	  <a>Dashboard</a>
	  <a>Interface</a>
	  <a>Settings</a>
	  <a>Users</a>
	  <a>File Upload</a>
	  <a>Alias</a>
	  <a>Custom Protocols</a><hr>
	  <a (click)="open(content)"><i class="fa fa-power-off">  Logout</i></a>

	</div>
	<div class="container-fluid">
	<div class="row one">
		<div class="col-md-4">
			<i class="fa fa-plus-square"> Add More Rule</i>
		</div>
		<div class="col-md-4 center">
			<p class="red">All Columns Mandatory</p>
		</div>
		<div class="col-md-4 pull-right">
			<input class="grid-input" type="text" placeholder="Search Grid">
		</div>
	</div>
	<div class="row two">
		<div class="col-md-2">
			<p>Sr.No.</p>
		</div>
		<div class="col-md-2">
			<p>Protocol</p>
		</div>
		<div class="col-md-2">
			<p>Source Ip</p>
		</div>
		<div class="col-md-2">
			<p>Destination IP</p>
		</div>
		<div class="col-md-2">
			<p>Access Type</p>
		</div>
		<div class="col-md-2">
			<p>Action</p>
		</div>
	</div>
	</div>
</div>


 <ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body">
  	<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <p>Are you sure want to logout ?</p>
  </div>
  <div class="modal-footer">
    <button routerLink="logout" type="button" id="buttn" class="btn btn-primary" (click)="c('Save click')">Logout</button>
    <button type="button" id="buttn" class="btn btn-danger" (click)="c('Save click')">Cancel</button>
  </div>
</ng-template>
