<div class="wrapper">
	<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top col-sm-12 col-xs-12">
	  <a class="navbar-brand">Nubewell Networks</a>
	  <h1 class="panel">Admin Panel</h1>
	  <a class="setting"><i class="fa fa-cog fa-2x"></i></a>
	</nav>
	<div class="sidenav col-sm-3 col-xs-2">
	  <a>Dashboard</a>
	  <a>Interface</a>
	  <a>Settings</a>
	  <a>Users</a>
	  <a>File Upload</a>
	  <a>Alias</a>
	  <a>Custom Protocols</a><hr>
	  <a (click)="open(content)" (click)="onLogout()"><i class="fa fa-power-off">  Logout</i></a>

	</div>
	<div class="container-fluid">
	<div class="row one">
		<div class="col-md-4">
			<i class="fa fa-plus-square"> Add More Rule</i>
		</div>
		<div class="col-md-4 center">
			<p class="red">All Columns Mandatory</p>
		</div>
		<div class="col-md-4 pull-right">
			<input class="grid-input" type="text" placeholder="Search Grid">
		</div>
	</div>
	<div class="row two">
		<div class="col-md-2">
			<p>Sr.No.</p>
		</div>
		<div class="col-md-2">
			<p>Protocol</p>
		</div>
		<div class="col-md-2">
			<p>Source Ip</p>
		</div>
		<div class="col-md-2">
			<p>Destination IP</p>
		</div>
		<div class="col-md-2">
			<p>Access Type</p>
		</div>
		<div class="col-md-2">
			<p>Action</p>
		</div>
	</div>

	<div class="row two2">
		<form [formGroup]="dashboardForm">
		<div class="col-md-2">
			<input class="form-control" placeholder="1" type="number" formControlName="id"/>
		</div>
		<div class="col-md-2">
			<select class="form-control" formControlName="protocol">
			  <option value="" disabled selected>None</option>
			  <option value="IP">IP</option>
			  <option value="TCP">TCP</option>
			  <option value="HTTP">HTTP</option>
			</select>
		</div>
		<div class="col-md-2">
			<input class="form-control" type="text" placeholder="Enter Source IP" formControlName="sourceIP">
		</div>
		<div class="col-md-2">
			<input type="text" class="form-control" placeholder="Enter Destination IP" formControlName="destinationIP">
		</div>
		<div class="col-md-2">
			<select class="form-control" formControlName="accessType">
			  <option value="" disabled selected>None</option>
			  <option value="Permit">Permit</option>
			  <option value="Denied">Denied</option>
			  <option value="All">All</option>
			</select>
		</div>
		<div class="col-md-2">
			<i (click)="getForm()" class="green">Add</i><i (click)="onDelete()" class="fa fa-trash red"></i>
		</div>
	</form>
	</div>
	<p>{{dashboardForm.value | json}}</p>
	</div>
</div>


 <ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body">
  	<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <p>Are you sure want to logout ?</p>
  </div>
  <div class="modal-footer">
    <button routerLink="logout" type="button" id="buttn2" class="btn btn-primary" (click)="c('Save click')">Ok</button>
    <button type="button" id="buttn" class="btn btn-danger" (click)="c('Save click')">Cancel</button>
  </div>
</ng-template>
