<div class="wrapper">
	<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
	  <a class="navbar-brand">Nubewell Networks</a>
	  <h1 class="panel">Admin Panel</h1>
	  <a class="setting"><i class="fa fa-cog fa-2x"></i></a>
	</nav>
	<div class="sidenav">
	  <a>Dashboard</a>
	  <a>Interface</a>
	  <a>Settings</a>
	  <a>Users</a>
	  <a>File Upload</a>
	  <a>Alias</a>
	  <a>Custom Protocols</a><hr>
	  <a routerLink="logout"><i class="fa fa-power-off">  Logout</i></a>

	</div>
	<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<i class="fa fa-plus-square">Add More Rule</i>
		</div>
		<div class="col-md-4">
			<p>All Columns Mandatory</p>
		</div>
		<div class="col-md-4">
			<input type="text" placeholder="Search Grid">
		</div>
	</div>
	</div>
</div>