.setting {
	width: 100%;
	text-align: right;
}
nav {
	height: 68px;
}
.panel {
	width: 100%;
	text-align: end;
	color: #fff;
}

.fa.fa-cog.fa-2x {
	color: #fff;
	cursor: pointer;
}
h4 {
	font-size: 23px;
}

.navbar-brand {
	background-color: #e0e0e0;
}

.sidenav {
  height: auto;
  width: 210px;
  position: fixed;
  z-index: 1;
  top: 68px;
  left: 0;
  background-color: darkblue;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #fff;
  display: block;
}

.sidenav a:hover {
  color: blue;
  background-color: #e0e0e0;
  cursor: pointer;
}

.page-link:hover {
	background-color: blue;
}

hr {
	border: 1px solid #fff;
}
.container-fluid {
	background-color: #fff;
	border-left: 210px solid blue;
	height: 700px;
	position: fixed;
	padding-top: 150px;
}

.row.one {
	width: 100%;
}
.row.two2 {
	margin-top: 1%;
	box-shadow: 0px 0px 3px 0px;
}
.fa.fa-plus-square {
	color: blue;
	border: 2px solid blue;
	padding: 5px;
	cursor: pointer;
}

.grid-input {
	border: 2px solid black;
}
.pull-right {
	text-align: right;
}

.center {
	text-align: center;
}
input::placeholder {
	text-align: center;
}

.red2 {
	color: red;
}

.row.two {
	height: 23px;
	background-color: lightgreen;
	width: 100%;
	margin: 0;
}

#buttn {
	width: 30%;
	cursor: pointer;
}

.fa.fa-trash.red {
	cursor: pointer;
	margin-left: 7%;
}

form {
	display: -webkit-inline-box;
	width: 100%;
}

.green {
	color: green;
	cursor: pointer;
}

.page {
	position: fixed;
	bottom: 5%;
	left: 80%;
	cursor: pointer;

}
.red {
	color: red;
	font-size: 12px;
	text-align: center;
}