.container.col-md-4.col-sm-12.col-xs-12 {
	background-color: #fff;
	position: fixed;
	left: 33%;
	top: 25%;
	padding: 4%;
	height: 190px;
	text-align: center;
	border-radius: 25px;
}

.btn.btn-primary {
	cursor: pointer;
}